{% extends "navbar.html" %}
{% block title %}{{ datos['pestaña'] }}{% endblock %}

{% block navbar%}
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand text-white" href="{{url_for('recepcion')}}">Recepción</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Pedidos</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item purple-on-hover" href="{{url_for('crearPedido')}}">Nuevo Pedido</a>
                        <a class="dropdown-item purple-on-hover" href="{{url_for('pedidos')}}">Ver Pedidos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item purple-on-hover" href="{{url_for('verPedidosEstado', estado='Pendiente')}}">Pedidos <span class="badge rounded-pill bg-danger">Pendientes</span></a>
                        <a class="dropdown-item purple-on-hover" href="{{url_for('verPedidosEstado', estado='En Producción')}}">Pedidos <span class="badge rounded-pill bg-warning">En Producción</span></a>
                        <a class="dropdown-item purple-on-hover" href="{{url_for('verPedidosEstado', estado='Terminado')}}">Pedidos <span class="badge rounded-pill bg-primary">Terminados</span></a>
                        <a class="dropdown-item purple-on-hover" href="{{url_for('verPedidosEstado', estado='Entregado')}}">Pedidos <span class="badge rounded-pill bg-success">Entregados</span></a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" role="button"
                        aria-haspopup="true" aria-expanded="false">Ordenes</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item purple-on-hover" href="{{url_for('ordenes')}}">Ver Ordenes</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item purple-on-hover" href="{{url_for('verOrdenesEstado', estado='Pendiente')}}">Ordenes <span class="badge rounded-pill bg-danger">Pendientes</span></a>
                        <a class="dropdown-item purple-on-hover" href="{{url_for('verOrdenesEstado', estado='En Producción')}}">Ordenes <span class="badge rounded-pill bg-warning">En Producción</span></a>
                        <a class="dropdown-item purple-on-hover" href="{{url_for('verOrdenesEstado', estado='Terminado')}}">Ordenes <span class="badge rounded-pill bg-primary">Terminadas</span></a>
                        <a class="dropdown-item purple-on-hover" href="{{url_for('verOrdenesEstado', estado='Entregado')}}">Ordenes <span class="badge rounded-pill bg-success">Entregadas</span></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item purple-on-hover" href="{{url_for('verOrdenesPrioridad', prioridad='Alta')}}">Prioridad <span class="badge rounded-pill bg-danger">Alta</span></a>
                        <a class="dropdown-item purple-on-hover" href="{{url_for('verOrdenesPrioridad', prioridad='Media')}}">Prioridad <span class="badge rounded-pill bg-warning">Media</span></a>
                        <a class="dropdown-item purple-on-hover" href="{{url_for('verOrdenesPrioridad', prioridad='Baja')}}">Prioridad <span class="badge rounded-pill bg-success">Baja</span></a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{url_for('productos')}}">Productos</a>
                </li>
            </ul>
            <form class="d-flex" action="{{url_for('buscarPedido')}}" method="post">
                <input class="form-control me-sm-2" id="POST-name" type="integer" name="buscar" placeholder="# de Pedido o Cliente" required>
                <button class="btn btn-info my-2 my-sm-0" type="submit" value="Buscar">Buscar</button>
            </form>
        </div>
    </div>
</nav>
{% endblock %}


{% block content %}
{% endblock %}