{% extends "recepcion/base.html" %}
{% block content %}

{% include 'mensajes.html' %}

<div class="container my-3">
    <h1>{{ datos['titulo'] }}</h1>

    <!-- Este código muestra la una tabla con los pedidos registrados -->
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-5">
            <h3 class="text-center">Lista de Precios</h3>
            <table class="table table-striped border-info table-bordered align-middle">
                <caption>{{ datos['titulo'] }}</caption>
                <thead>
                    <tr class="table-info">
                        <th scope="col">Producto</th>
                        <th class="text-end" scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in datos['productos'] %}
                    <tr>
                        <td>{{ producto[1] }}</td>
                        <td class="text-end">{{ producto[2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="col-sm-12 col-md-6 col-lg-7">
            <h3 class="text-center">Calculadora de Precios</h3>
            <div class="form-group">
                <fieldset>
                    <div class="row justify-content-center ">
                        <div class="col-10 col-sm-9 col-md-12 col-lg-8 my-1">
                            <label class="form-label" for="producto">Producto</label>
                            <select name="producto" class="form-select texto-oscuro" id="producto" onchange="calcularTotal()">
                                {% for producto in datos['productos'] %}
                                    <option value="{{ producto[2] }}">{{ producto[1] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-4 col-sm-4 col-md-6 col-lg-4 my-1">
                            <label class="form-label" for="cantidad">Cantidad</label>
                            <input class="form-control texto-oscuro" id="cantidad" type="number" placeholder="0"  onchange="calcularTotal()">
                        </div>
                        <div class="col-6 col-sm-5 col-md-6 col-lg-4 my-1">
                            <label class="form-label" for="resultado">Resultado</label>
                            <input class="form-control texto-oscuro" id="resultado" type="number" placeholder="0" readonly="">
                        </div>
                    </div>
                    

                </fieldset>
                <!-- <script type="text/javascript">
                    function calcular(){
                        var precio_producto = document.getElementById('producto').value
                        var cantidad = document.getElementById('cantidad').value

                        document.getElementById('resultado').value = precio_producto*cantidad
                    }
                </script> -->
            </div>
        </div>
    </div>
</div>

{% endblock %}