<!-- En este documento va la tabla con los pedidos recibidos por la base de datos -->
{% extends "navbar.html" %}

{% block content %}

<div id="pagina">
    <h1>Buscar Pedidos con "{{dato}}"</h1> <!--Variable con el término a buscar-->
    <table class="table table-hover" id="tabla">
        <caption>Pedidos Encontrados</caption>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Cliente</th>
                <th scope="col">Fecha</th>
                <th scope="col">Total</th>
                <th scope="col">Estado</th>
                <th scope="col">Pedido</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidosDB %}
            <tr class="table-light">
                <td>{{ pedido[0] }}</td>
                <td>{{ pedido[1] }}</td>
                <td>{{ pedido[2] }}</td>
                <td>${{ pedido[3] }}</td>

                {% if pedido[4] == 'Pendiente': %}
                <td><span class="badge rounded-pill bg-danger">{{ pedido[4] }}</span></td>
                {% elif pedido[4] == 'En Producción': %}
                <td><span class="badge rounded-pill bg-warning">{{ pedido[4] }}</span></td>
                {% elif pedido[4] == 'Terminado': %}
                <td><span class="badge rounded-pill bg-primary">{{ pedido[4] }}</span></td>
                {% elif pedido[4] == 'Entregado': %}
                <td><span class="badge rounded-pill bg-success">{{ pedido[4] }}</span></td>
                {% else: %}
                <td><span class="badge rounded-pill bg-dark">{{ pedido[4] }}</span></td>
                {% endif %}

                <td><a href="{{url_for('verPedido', id=pedido[0])}}" class="btn btn-primary btn-sm">Ver Pedido</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}