<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CPB Arias</title>
    <link rel="icon" href="/static/Image/Logo A Ubuntu.svg" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/main.css">
    <link href="/static/css/normalize.css" rel="stylesheet">
  </head>
  <body>
    <img id="letra" src="/static/Image/Logo A Ubuntu.svg" alt="">
    <img id="letra" src="/static/Image/Logo A.svg" alt="">
    <img id="logoPequeño" src="/static/Image/cpb.svg" alt="">
    <img src="/static/Image/CPB Logo Trans.png" alt="">
    <img src="/static/Image/cpb verde.png" alt="">
    <img src="/static/Image/cpb2.png" alt="">
    <img src="/static/Image/cpb2.svg" alt="">
    <img src="/static/Image/path154.png" alt="">
    <!-- <img id="tarjeta" src="/static/Image/CPB Logo 1.png" alt=""> -->
  </body>
</html>
