<!-- Este documento tiene la barra de navegación, a la cual las demás páginas acceden por la herencia de plantillas de Jinja -->
<!-- Temporalmente estoy usando bootstrap hasta encontrar una mejor opción para el front-end -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CPB App</title>
    <link rel="icon" href="/static/Image/Logo A Ubuntu.svg" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Página Principal</a></li>
                <li><a href="/pedidos" >Ver Pedidos</a></li>
                <li><a href="/nuevo_pedido">Crear Pedido</a></li>
                <li><form action="/buscar_pedido" method="post">
                        <label for="POST-name">Buscar pedido</label>
                        <input id="POST-name" type="integer" name="buscar" placeholder="# de Pedido o Cliente">
                        <input type="submit" value="Buscar">
                    </form>
                </li>
                <li><button type="button" onclick="cambiarModo()">Modo Oscuro</button></li>
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}

    <!-- script para cambiar a modo oscuro -->
    <script type="text/javascript">
        function cambiarModo() { 
          var cuerpoWeb = document.body; 
          cuerpoWeb.classList.toggle("modoOscuro"); 
        } 
      </script>
</body>
</html>