<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="/static/Image/Mantis icon 1.svg" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>

<body>
    <header>
        <div class="px-3 py-2 bg-info">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <span class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                        <img src="/static/Image/Mantis icon 3.svg" class="bi d-block mx-auto mb-1" alt="App Logo" width="50" height="50">
                    </span>
                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <a href="/" class="nav-link text-white">
                                <img src="/static/Image/MingCute/home_3_line.svg" class="bi d-block mx-auto mb-1" alt="Home Logo" width="30" height="30">
                                Página Principal
                            </a>
                        </li>
                        <li>
                            <a href="/recepcion" class="nav-link text-white">
                                <img src="/static/Image/MingCute/version_line.svg" class="bi d-block mx-auto mb-1" alt="Recepción Logo" width="30" height="30" >
                                Recepción
                            </a>
                        </li>
                        <li>
                            <a href="/produccion" class="nav-link text-white">
                                <img src="/static/Image/MingCute/factory_line.svg" class="bi d-block mx-auto mb-1" alt="Producción Logo" width="30" height="30">
                                Producción
                            </a>
                        </li>
                        <li>
                            <a href="/administracion" class="nav-link text-white">
                                <img src="/static/Image/MingCute/key_2_line.svg" class="bi d-block mx-auto mb-1" alt="Administración Logo" width="30" height="30" >
                                Administración
                            </a>
                        </li>
                        <li>
                            <a href="/login" class="nav-link text-white">
                                <img src="/static/Image/MingCute/user_1_line.svg" class="bi d-block mx-auto mb-1" alt="Usuario Logo" width="30" height="30">
                                Usuario
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% block navbar %}
        {% endblock %}
    </header>

    {% block content %}
    {% endblock %}
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/scripts.js"></script>
</body>

</html>