<!-- En este documento va la tabla con los pedidos recibidos por la base de datos -->
{% extends "navbar.html" %}
{% block title %}{{ datos['pestaña'] }}{% endblock %}

{% block content %}

<!-- Este código muestra mensajes en pantalla -->
{% with mensajes = get_flashed_messages(with_categories=true) %}
{% if mensajes %}
{% for categoria, mensaje in mensajes %}
{% if categoria == 'Rojo' %}
<div class="alert alert-dismissible alert-danger">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button><span>{{ mensaje[0] }} "<strong>{{
            mensaje[1] }}</strong>".</span>
</div>
{% endif %}
{% if categoria == 'Verde' %}
<div class="alert alert-dismissible alert-success">
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button><span>{{ mensaje[0] }} "<strong>{{
            mensaje[1] }}</strong>".</span>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}


<div id="pagina">
    <h1>{{ datos['titulo'] }}</h1>

    <!-- Este código muestra la una tabla con los pedidos registrados -->
    <table class="table table-hover" id="tabla">
        <caption>Pedidos</caption>
        <thead>
            <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Cliente</th>
                <th scope="col" class="text-center">Fecha</th>
                <th scope="col" class="text-center">Total</th>
                <th scope="col" class="text-center">Estado</th>
                <th scope="col" class="text-center">Pedido</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in datos['pedidos'] %}
            <tr class="table-light">
                <td>{{ pedido[0] }}</td>
                <td>{{ pedido[1] }}</td>
                <td>{{ pedido[2] }}</td>
                <td>{{ pedido[3] }}</td>

                {% if pedido[4] == 'Pendiente': %}
                <td class="text-center"><span class="badge rounded-pill bg-danger">{{ pedido[4] }}</span></td>
                {% elif pedido[4] == 'En Producción': %}
                <td class="text-center"><span class="badge rounded-pill bg-warning">{{ pedido[4] }}</span></td>
                {% elif pedido[4] == 'Terminado': %}
                <td class="text-center"><span class="badge rounded-pill bg-primary">{{ pedido[4] }}</span></td>
                {% elif pedido[4] == 'Entregado': %}
                <td class="text-center"><span class="badge rounded-pill bg-success">{{ pedido[4] }}</span></td>
                {% else: %}
                <td class="text-center"><span class="badge rounded-pill bg-dark">{{ pedido[4] }}</span></td>
                {% endif %}

                <td><a href="{{url_for('verPedido', id=pedido[0])}}" class="btn btn-primary btn-sm">Ver Pedido</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}